body {
  background-image: url("../images/seamless_paper_texture/seamless_paper_texture.png");
}

h1 {
  background: white;
  text-align: center;
}

.container {
  margin-top: 1em;
  margin-left: 1em;
}

button {
  margin: 5px;
}

#buttonDisplaySection {
  margin: 1em;
}

.gifDisplayArea {
  background: white;
  margin: 1em;
}